# Common dirs

Application/Debug
Application/Release/*.exe
Application/Release/*.iobj
Application/Release/*.ipdb
Application/Release/*.app

Builds/
JuceLibraryCode/

# =========================
# Operating System Files
# =========================

.DS_Store
.AppleDouble
.LSOverride
Desktop.ini
$RECYCLE.BIN/
*.lnk

*.supported
