# Common dirs

Application/w32-Debug
Application/w32-Release
Application/x64-Debug
Application/x64-Release
Application/Debug
Application/Release
Application/Release-Github

*.jucer

Builds/
JuceLibraryCode/

# =========================
# Operating System Files
# =========================

.DS_Store
.AppleDouble
.LSOverride
Desktop.ini
$RECYCLE.BIN/
*.lnk

*.supported
