/* Default style of WDTP */

html 
{
  background-color: #cdcdcd;	
}
body, p
{
  max-width: 708px;
  margin: 0 auto;
  background-color: #dedede;
  font-family: 'Microsoft YaHei', 'Consolas', 'Monaco', 'Lucida Console', monospace;	
  text-indent: 2em;
  line-height: 1.8;
}
body 
{
  border-style: solid;
  border-width: 1px;
  border-color: #bcbcbc;
  padding: 0 45px 0px 45px;
}
p
{
  margin: 10px 0;
}
.siteMenu ul 
{
  display: block;
  width: 100%;
  font-size:90%;	
  position: absolute;
  top:30px;
  margin: -10px 0 0 130px;
}
.siteMenu ul li
{
  float:left;			
  list-style-type: none;
  height: 40px;
  width: 100px;
  line-height: 40px;
  text-align: center;
  background: #333;
  color: #fff;
}
.siteMenu ul li ul
{
  list-style-type: none;
  display: list-item;
  margin: 0;
  position: relative;
  top: 0px;
  right: 40px;
  display: none;
}
.siteMenu ul li a
{
  text-decoration: none;
  color: #ffffff;
}
.siteMenu ul li:hover
{
  background: #686868;
  color: #000;
  cursor: pointer;
}
.siteMenu ul li:hover ul
{
  display: list-item;
}
.siteMenu ul li:hover ul li:hover
{
  background: 868686;
  color: #000;
  cursor: pointer;
}
.siteNavi,
.timeStr, 
.prevAndNext,
.ad,
.randomArticels
{    
	font-size: 90%;
	line-height: 1.5;
}
.listTitle
{
  font-size: 120%;
  line-height: 1.3;
  font-weight:bold;
  text-align: center;
}
.listDate
{
  	font-size: 80%;
	line-height: 1.2;
	text-align: center;
}
.listDesc
{
  	font-size: 92%;
	text-indent: 2em;
}
.timeStr
{
  text-align: right;
}

img,
.ad
{
  max-width: 100%;  
  text-indent: 0;
  display: block;
  margin: 0 auto;
}
.siteLogo
{
  max-width: 30%;  
  text-indent: 0;
  display: block;
  margin: 10px 5px 5px -30px;
}
h1, h2, h3, h4, h5, h6
{
  text-indent: 24pt;
  line-height: 0.5;
}
h1
{
  text-align:center;
}
li, hr, div 
{
  text-indent: 0;
}
div 
{
  padding: 5px 15px 0px 15px;
}
a { 
  text-decoration: none;
}
blockquote
{
  background-color: #cdcdcd;
  padding: 10px 15px 10px 15px;
  margin: 0 0 20px 0;
  font-family: 'KaiTi', 'Consolas';
}
pre 
{
  text-indent: 0;
  font-family: 'Consolas', 'Monaco', 'Lucida Console', monospace;
  font-size: 85%;
  line-height: 1.5;
}
code
{
  background-color: #cdcdcd;
  font-family: 'Consolas';
}
ol, ul {
  margin: 5px 0;
  padding: 0 0 0 40px;
}
table 
{
  position: relative;
  top: 1px;
  bottom: 1px;
  margin: 0 auto 15px;
  text-indent: 10px;
  /*padding: 15px 5px 15px 5px;*/
  border-collapse:collapse;
  width: 98%;
  line-height: 1.5;
}
table, td, th
{
  border: 1px solid black;
}
#copyright
{
  position: relative;
  top: 0;
  border: 0px solid black;
  font-size: 90%;
  font-weight: bold;
}
th 
{
  background-color: #cdcdcd;
  text-indent: 0;
}
.page_navi {width:100%; font-size: 85%; height:40px;line-height:30px;text-align:center;overflow:hidden;padding-right:0;}
.page_navi a {padding:3px 8px;margin:2px;text-decoration:none;color:#999;border:1px solid #999;}
.page_navi a:hover,.page_navi a.current{border:1px solid #434343;color:#434343;}

/* Code highlight

    Merge from: https://highlightjs.org (Highlight.js)
    Under the BSD License
*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #232323;
  color: #e6e1dc;
}
.hljs-comment,
.hljs-quote {
  color: #bc9458;
  font-style: italic;
}
.hljs-keyword,
.hljs-selector-tag {
  color: #c26230;
}
.hljs-string,
.hljs-number,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable {
  color: #a5c261;
}
.hljs-subst {
  color: #519f50;
}
.hljs-tag,
.hljs-name {
  color: #e8bf6a;
}
.hljs-type {
  color: #da4939;
}
.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-attr,
.hljs-link {
  color: #6d9cbe;
}
.hljs-params {
  color: #d0d0ff;
}
.hljs-attribute {
  color: #cda869;
}
.hljs-meta {
  color: #9b859d;
}
.hljs-title,
.hljs-section {
  color: #ffc66d;
}
.hljs-addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}
.hljs-deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}
.hljs-selector-class {
  color: #9b703f;
}
.hljs-selector-id {
  color: #8b98ab;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-link {
  text-decoration: underline;
}
