
body, p {
  max-width: 760px;
  margin: 0 auto;
  background-color: #dedede;	
  text-indent: 2em;
  line-height: 1.6;
}
h2, h3, h4, h5, h6 {
  text-indent: 24pt;
  line-height: 0.5;
}
li, hr, div {
  text-indent: 0;
}
div {
  padding: 5px 15px 0px 15px;
}
a { 
  text-decoration: none;
}
blockquote {
  background-color: #cdcdcd;
  padding: 10px 15px 10px 15px;
  margin: 0 0 20px 0;
  font-family: 'KaiTi', 'Consolas';
}
pre {
  text-indent: 0;
  font-family: 'Consolas', 'Monaco', 'Lucida Console', monospace;
  font-size: 82%;
}
code {
  background-color: #cdcdcd;
}
table  {
  position: relative;
  top: 10px;
  bottom: 10px;
  margin: 0 auto 15px;
  text-indent: 10px;
  /*padding: 15px 5px 15px 5px;*/
  border-collapse:collapse;
  width: 98%;
  line-height: 1.5;
}
table, td, th  {
  border:1px solid black;
}
th {
  background-color: #cdcdcd;
  text-indent: 0;
}

/* Code highlight*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #232323;
  color: #e6e1dc;
}
.hljs-comment,
.hljs-quote {
  color: #bc9458;
  font-style: italic;
}
.hljs-keyword,
.hljs-selector-tag {
  color: #c26230;
}
.hljs-string,
.hljs-number,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable {
  color: #a5c261;
}
.hljs-subst {
  color: #519f50;
}
.hljs-tag,
.hljs-name {
  color: #e8bf6a;
}
.hljs-type {
  color: #da4939;
}
.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-attr,
.hljs-link {
  color: #6d9cbe;
}
.hljs-params {
  color: #d0d0ff;
}
.hljs-attribute {
  color: #cda869;
}
.hljs-meta {
  color: #9b859d;
}
.hljs-title,
.hljs-section {
  color: #ffc66d;
}
.hljs-addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}
.hljs-deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}
.hljs-selector-class {
  color: #9b703f;
}
.hljs-selector-id {
  color: #8b98ab;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-link {
  text-decoration: underline;
}
