
body {
  background-color: #dedede;	
  text-indent: 2em;
}
h2, h3, h4, h5, h6 {
  text-indent: 24pt;
}
li, hr, div {
  text-indent: 0;
}
a { 
  text-decoration: none;
}
blockquote {
  background-color: #cdcdcd;
  padding: 15px 20px 15px 20px;
  margin: 0 0 20px 0;
  font-size: 95%;
  font-weight: bold;
}
pre {
  text-indent: 0;
  background-color: #cdcdcd;
  border-radius: 3px;
  height: 120%;
  overflow: scroll; 
  padding: 15px 20px 15px 20px;
  margin: 0 0 20px 0;
  font-family: 'Consolas', 'Monaco', 'Lucida Console', monospace;
  font-size: 78%;
}
code {
  background-color: #cdcdcd;
}
table  {
  margin: 0 auto;
  border-collapse:collapse;
  width: 93%;
}
table, td, th  {
  border:1px solid black;
}
th {
  background-color: #cdcdcd;
}

